@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --main-color: #C8A977;
    --main-color-2: #AF966E;
    --Calibri: 'Calibri'
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Aboreto", system-ui;
    background: linear-gradient(275.36deg, #021532 23.8%, #000000 100.49%) no-repeat center center;
    background-size: cover;
}

.GE_SS_Two {
    font-family: 'GE SS Two', sans-serif;
    font-weight: 300;

}

.container {
    width: calc(100% - 40px);
    max-width: 1800px;
    margin-inline: auto;
    padding: 20px 68px;
}

.wrapper-page {
    min-height: 70dvh;
}

.custom-button {
    padding: 8px 32px;
    color: #FFF;
    background: var(--main-color-2);
    border-radius: 32px;
    font-size: clamp(16px, 1.8vw, 18px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: .3s all ease-in-out;
    cursor: pointer;
    outline: none;
}

.custom-button:hover {
    background: #5f523c;
    box-shadow: 0 4px 16px 0 rgba(95, 82, 60, 0.35);
}

.custom-button-2 {
    padding: 8px 32px;
    color: var(--main-color);
    border: 1px solid var(--main-color-2);
    border-radius: 32px;
    font-size: clamp(16px, 1.8vw, 18px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.custom-button-2:hover {
    background: var(--main-color-2);
    color: #FFF;
    box-shadow: 0 4px 16px 0 rgba(95, 82, 60, 0.55);
}

@media (max-width:1024px) {
    .custom-button {
        padding: 8px 24px;
        border-radius: 24px;
    }
}

.custom-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.custom-header .title {
    color: var(--main-color);
    font-size: clamp(26px, 3vw, 51px);
    margin: 0;
}

.custom-header .subtitle {
    color: white;
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 300;
}

.custom-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.custom-header-2 .title {
    color: var(--main-color);
    font-size: clamp(26px, 3vw, 51px);
    margin: 0;
}

.custom-header-2 .subtitle {}

@media (max-width:778px) {
    .custom-header-2 {
        flex-direction: column;
        gap: 16px;
    }
}

/* Navbar */

nav {
    position: fixed;
    top: 23px;
    width: 100%;
    left: 50%;
    translate: -50% 0;
    transition: .3s all ease-in-out;
    z-index: 10;

}

nav.scrolling {
    top: 0;
}

nav .container {
    background: rgba(2, 29, 73, 0.25);
    backdrop-filter: blur(16.35px);
    border-radius: 12px;
    padding: 13px 68px;
    transition: .3s all ease-in-out;
}

nav.scrolling .container {
    top: 0;
    padding: 13px 40px;
}

nav .container .right-side .language {
    font-family: 'GE SS Two', sans-serif;
    font-weight: 300;
}

.links-menu .item-link a,
nav .container .item-link a {
    transition: .3s all ease-in-out;
}

.links-menu .item-link a:hover,
nav .container .item-link a:hover {
    color: var(--main-color-2);
}

.links-menu {
    display: flex;
    z-index: 10;
    background: rgba(0, 11, 29, 0.5);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

@media (max-width:1500px) {

    nav .container,
    .container {
        padding: 13px 32px;
    }
}

@media (max-width:1350px) {

    nav .container .logo-text,
    nav .container .line {
        display: none;
    }
}

@media (max-width:1250px) {
    nav .container .links {
        display: none;
    }

    nav .container .toggle-menu {
        display: flex;
    }


    .links-menu.show {
        visibility: visible;
        opacity: 1;
    }

    body:has(.links-menu.show) {
        overflow: hidden;
    }
}

@media (max-width:778px) {

    nav .container,
    .container {
        padding: 13px 20px;
    }
}

@media (max-width:448px) {
    nav .container .login {
        display: none;
    }

    .links-menu .item-link:has(.login) {
        display: flex;
    }
}

.banner-home {
    position: relative;
    padding-block: 120px 60px;
}

.banner-home .left-side .container {
    position: relative;
}

.banner-home .navigation,
.banner-home .swiper-pagination {
    position: absolute;
    right: 80px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.banner-home .swiper-pagination {
    flex-direction: column;
}

.banner-home .navigation {
    bottom: 80px;
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.navigation .swiper-button-next,
.navigation .swiper-button-prev {
    position: static;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 4px;
    margin: 0;
}

.navigation .swiper-button-next::after,
.navigation .swiper-button-prev::after {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-weight: bold;
    transition: .3s all ease-in-out;
}

.navigation .swiper-button-next:hover,
.navigation .swiper-button-prev:hover {
    background: var(--main-color);
    transition: .3s all ease-in-out;
}

.navigation .swiper-button-next:hover:after,
.navigation .swiper-button-prev:hover:after {
    color: white;
}

.banner-home .swiper-pagination .swiper-pagination-bullet {
    background: var(--main-color);
    display: flex;
    width: 12px;
    height: 12px;
    transition: .3s all ease-in-out;
}

.banner-home .swiper-pagination .swiper-pagination-bullet-active {
    border: 2px solid #021532;
    width: 16px;
    height: 16px;
    outline: 2px solid var(--main-color);
}

.banner-home .left-side .presentation {
    padding-block: 100px;
}

.banner-home .left-side .presentation .title {
    font-size: clamp(24px, 3vw, 44px);
}

.banner-home .left-side .presentation .subtitle {
    font-size: clamp(20px, 3vw, 34px);
    color: #FFF;
    margin-bottom: 20px;
}

.banner-home .left-side .slider-banner {
    width: 100%;
    max-width: 350px;
    margin-inline: 0 auto;
    max-height: 340px;
}

.banner-home .left-side .slider-banner .swiper-slide {
    background: rgba(137, 137, 137, .07);
    border-radius: 10.8265px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #ffffff79;
    padding: 12px 21px;
    display: flex;
    justify-content: space-between;
    gap: 21px;
    scale: .9;
    transition: .3s all ease-in-out;
    opacity: .5;
    position: static;
    z-index: 1;
}

.banner-home .left-side .slider-banner .swiper-slide.swiper-slide-active {
    opacity: 1;
    scale: 1;
}

.banner-home .left-side .slider-banner .swiper-slide .info-slide {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.banner-home .left-side .slider-banner .swiper-slide .info-slide .title {
    color: var(--main-color-2);
    font-size: var(17px, 1.8vw, 18px);
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.banner-home .left-side .slider-banner .swiper-slide .info-slide .description {
    color: #FFF;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.banner-home .left-side .slider-banner .swiper-slide .info-slide .description span {
    font-family: "Aboreto", system-ui;
}

.bg-banner-slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-banner-slide .swiper {
    height: 100%;
    width: 100%;
}

.bg-banner-slide .swiper-slide {
    opacity: 0 !important;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bg-banner-slide .swiper-slide.swiper-slide-fully-visible {
    opacity: 1 !important;
}

.bg-banner-slide .swiper-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;

}

@media (max-width:992px) {
    .banner-home {
        padding-block: 60px;
    }

    .bg-banner-slide .swiper-slide.swiper-slide-fully-visible {
        opacity: .4 !important;
    }

    .bg-banner-slide .swiper-slide img {
        object-position: 80% center;
    }

    .banner-home .left-side .presentation {
        padding-block: 40px;
    }


}

@media (max-width:668px) {
    .banner-home .swiper-pagination {
        right: 20px;
    }

    .banner-home .navigation {
        right: auto;
        left: 50%;
        translate: -50% 0;
        bottom: 10px;
        flex-direction: row;
    }
}


.services {
    margin-block: 20px;
    position: relative;
    z-index: 1;
}

.services .bg-services {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    padding-block: 40px;

}

.services .bg-services img {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 99.04%, #000000 100%), linear-gradient(0deg, rgba(200, 169, 119, 0.2), rgba(200, 169, 119, 0));
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-blend-mode: normal, color, normal, normal, normal;
    mix-blend-mode: lighten;
    opacity: 0.36;
}

.services .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-block: 200px;
}


.services .container .list-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.services .container .list-services .service {
    padding: 34px 30px 27px;
    background: rgba(200, 169, 119, 0.22);
    border-radius: 15.625px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-width: 360px;
}

.services .container .list-services .service .icon {
    width: 100px;
    height: 80px;
    display: flex;
    margin-bottom: 19px;
}

.services .container .list-services .service .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services .container .list-services .service .title-service {
    font-size: clamp(20px, 2.2vw, 28.41px);
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
}

.services .container .list-services .service .description-service {
    font-size: clamp(16px, 2vw, 20px);
    color: white;
    font-weight: 300;
    margin-bottom: 24px;
}


.funds {
    margin-block: 60px;
}

.funds .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.funds .container .list-funds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.funds .container .list-funds .funds {
    padding: 34px 30px 27px;
    border-radius: 15.625px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-width: 260px;
    min-width: 260px;
    background: rgba(18, 18, 18, 0.01);
    border: 0.5px solid #AF966E;
    backdrop-filter: blur(20.25px);
    border-radius: 17px;

}

.funds .container .list-funds .funds .title-funds {
    font-size: clamp(20px, 2.2vw, 28.41px);
    color: white;
    font-weight: bold;
    margin-bottom: 32px;
    padding-inline-end: 30px;
}

@media (max-width:992px) {
    .funds .container .list-funds .funds {
        align-items: center;
        text-align: center;
    }

    .funds .container .list-funds .funds .title-funds {
        padding: 0;
        margin-bottom: 12px;
    }
}

.market-insights {
    margin-block: 60px;
}

.market-insights .container {}

.market-insights .custom-header-2 {
    text-align: center;
}

.market-insights .wrapper-slider-market {}

.market-insights .wrapper-slider-market .swiper-slide {
    width: 1320px;
    max-width: calc(100% - 60px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.market-insights .wrapper-slider-market .swiper-slide .right-side {
    flex: 1 1 50%;
    overflow: hidden;
    border-radius: 15px;
}

.market-insights .wrapper-slider-market .swiper-slide .right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.market-insights .wrapper-slider-market .swiper-slide .left-side {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 38px;
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .info-slide {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .info-slide .info-item {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .info-slide .info-item .title-item {
    color: var(--main-color);
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .info-slide .info-item .value-item {
    color: white;
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .info-slide .info-item .value-item span {
    font-family: var(--Calibri);
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .content-slide {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .content-slide .title {
    font-size: clamp(18px, 2vw, 28px);
    color: var(--main-color);
}

.market-insights .wrapper-slider-market .swiper-slide .left-side .content-slide .description {
    font-size: clamp(16px, 2vw, 24px);
    color: white;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width:992px) {
    .market-insights .wrapper-slider-market {
        max-width: calc(100% - 40px);
        margin: 20px auto;

    }

    .market-insights .wrapper-slider-market .swiper-slide {
        flex-direction: column-reverse;
        max-width: none;
    }

    .market-insights .wrapper-slider-market .swiper-slide .right-side {
        flex: 1 1 100%;
        width: 100%;
        max-height: 300px;
    }

    .market-insights .wrapper-slider-market .swiper-slide .left-side {
        gap: 24px;
    }

    .market-insights .navigation {
        justify-content: center;
    }
}

.latest-news {
    margin-block: 40px;
}

.latest-news .wrapper-slider-news {}

.latest-news .wrapper-slider-news .swiper-slide {
    width: 513px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 18px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
}

.latest-news .wrapper-slider-news .swiper-slide .header-slide {
    width: 100%;
    max-height: 318px;
    height: 100%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.latest-news .wrapper-slider-news .swiper-slide .header-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .info-slide {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .info-slide .info-item {
    font-size: clamp(16px, 2vw, 18px);

}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .info-slide .info-item .title-item {
    color: var(--main-color);
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .info-slide .info-item .value-item {
    color: white;

}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .info-slide .info-item .value-item span {
    font-family: var(--Calibri);
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .content-slide {
    display: flex;
    flex-direction: column;
    grid-area: 8px;
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .content-slide .title {
    font-size: clamp(18px, 2vw, 21px);
    color: var(--main-color);
}

.latest-news .wrapper-slider-news .swiper-slide .body-slide .content-slide .description {
    font-size: clamp(16px, 2vw, 18px);
    color: white;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width:992px) {
    .latest-news .wrapper-slider-news {
        max-width: calc(100% - 40px);
        margin: 20px auto;
    }

    .latest-news .navigation {
        justify-content: center;
    }
}

.reach-us {
    margin-block: 40px;
}

.reach-us .container {
    padding: 25px 36px;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.05);
}

.reach-us .container .custom-header-2 {}

.reach-us .container .custom-header-2 .list-contact {
    display: flex;
    gap: 7px;
    flex: 1;
    max-width: 1187px;
}

.reach-us .container .custom-header-2 .list-contact .contact-btn {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 16px 28px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(2, 29, 73, 0.36);
    border-radius: 60px;
    flex: 1 1;
    font-size: clamp(16px, 1.8vw, 21px);
    text-wrap: nowrap;
    max-width: 400px;
}

@media (max-width:1300px) {
    .reach-us .container .custom-header-2 {
        flex-direction: column;
    }

    .reach-us .container .custom-header-2 .list-contact {
        flex-wrap: wrap;
        justify-content: center;
    }
}

footer {
    background: #011029;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-block: 20px;
}

footer .container .copyright {
    color: white;
    font-weight: 300;
    line-height: 80%;
}

footer .container .copyright .year {
    font-family: var(--Calibri);
}

footer .container .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .container .social-links a {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 3px;
    transition: .3s all ease-in-out;
}

footer .container .social-links a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

@media (max-width:992px) {
    footer .container .copyright {
        line-height: normal
    }

}

@media (max-width:668px) {
    footer .container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }


    footer .container .social-links {
        justify-content: center;
    }
}